.step1-to-step5__container-1
  %header.step1-to-step5__header
    =link_to root_path do
      = image_tag 'mercari-logo.png', height:'49',width:'185'
    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.through#through
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.active#active
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
  %main.step1-to-step5__main
    %section.container
      = form_with(model: @user, url:payment_way_signup_index_path, method: :get, local: :true) do |f|
        %h2.head.registration 住所入力
        .inner
          .single-content
            .form-group
              = f.label :'郵便番号'
              %span.form-require 必須
              = f.text_field :address_number, placeholder: "例）123-4567", class:'input-default',id: 'has-error'
              = render partial: 'address_error-messages', locals: {user: @user, column: "address_number"} #エラーメッセージの表示
            .form-group
              = f.label :'都道府県'
              %span.form-require 必須
              = f.select :address_prefecture, User.prefectures.keys,{prompt: '---'}, class:'input-default',id: 'has-error'
              = render partial: 'address_error-messages', locals: {user: @user, column: "address_prefecture"} #エラーメッセージの表示
            .form-group
              = f.label :'市区町村'
              %span.form-require 必須
              = f.text_field  :address_mayor_town, placeholder: "例）名古屋市中区", class:'input-default',id: 'has-error'
              = render partial: 'address_error-messages', locals: {user: @user, column: "address_mayor_town"} #エラーメッセージの表示
            .form-group
              = f.label :'番地'
              %span.form-require 必須
              = f.text_field :address_block, placeholder: "例）緑山1-1-1", class:'input-default',id: 'has-error'
              = render partial: 'address_error-messages', locals: {user: @user, column: "address_block"} #エラーメッセージの表示
            .form-group
              = f.label :'建物名'
              %span.form-option 任意
              = f.text_field :address_building, placeholder: "例）TECHビル", class:'input-default' 
            .form-group
              = f.label :'電話'
              %span.form-option 任意
              = f.text_field :address_phone_number, placeholder: "例）09011112222", class:'input-default' 
            .form-group
              = f.button "次へ進む", class: "btn-default btn-red"
    %footer.step1-to-step5__footer
      = image_tag 'footer-mercari.png', height: '150', width: '387'