.step1-to-step5__container-1
  %header.step1-to-step5__header
    =link_to '#' do
      = image_tag 'mercari-logo.png', height:'49',width:'185'
    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.active#active
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.address#address
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.payment#payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
  %main.step1-to-step5__main
    %section.container
      = form_with(model: @user, url:address_signup_index_path, method: :get,local: :true) do |f|
        %h2.head.registration 電話番号の確認
        .inner 
          .single-content
            .form-group
              = f.label :'携帯電話の番号'
              =f.text_field :phone_number, placeholder: "携帯電話の番号を入力", class:'input-default'
              %p.single-text
                本人確認のため、携帯電話のSMS（ショートメッセージサービス）を利用して認証を行います。
            .form-group
              = f.button "次へ進む", class: "btn-default btn-red"
              %p.single-text
                電話番号確認は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
            .form-group.text-right
              %p
                = link_to '/jp/help_center/article/423/', target: "_blank" , class: 'link' do
                  本人情報の登録について>
  %footer.step1-to-step5__footer
    = image_tag 'footer-mercari.png', height: '150', width: '387'