.step1-to-step5__container-1
  %header.step1-to-step5__header
    =link_to '#' do
      = image_tag 'mercari-logo.png', height:'49',width:'185'
    %nav.progress
      %ul.progress-bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.through#through
          電話番号認証
          .progress-status
          .progress-status_bar
        %li.through#through
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.active#active.payment
          支払い方法
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
          .progress-status_bar
  %main.step1-to-step5__main
    %section.container
      = form_with(url:signup_index_path, method: :post, html: { name: "inputForm" }, local: :true) do |f|
        %h2.head.registration 支払い方法
        .inner
          .single-content
            .form-group
              = f.label :'カード番号'
              %span.form-require 必須
              = f.text_field :card_number, placeholder: "半角数字のみ", class:'input-default',maxlength: "16"
              = image_tag 'card_5brand.png', height: '30', width:'250'
              = image_tag 'discovercard_logo.jpg', height: '30', width:'40'
              = image_tag 'saison.png', height: '30', width:'30'
            .form-group
              = f.label :'有効期限'
              %span.form-require 必須
              %br/
              .expire-select-wrap
                .select-wrap
                  = f.select :expire_month, Card.months.keys,{prompt: '---'}, class: "select-default"
                %span 月
                .select-wrap.select-wrap__month
                  = f.select :expire_year, Card.years.keys,{prompt: '---'}, class: "select-default"
                %span 年
            .form-group
              = f.label :'セキュリティーコード'
              %span.form-require 必須
              = f.text_field :code, placeholder: "カード背面4桁もしくは3桁の番号", class: "input-default",maxlength: "4"
            .text-right
              %p
                = link_to '#', target: "_blank" , class: 'link' do
                  カード裏面の番号とは？
            .form-group#card_token
            = f.button "次へ進む", class: "btn-default btn-red",id:"token_submit"
  %footer.step1-to-step5__footer
    = image_tag 'footer-mercari.png', height: '150', width: '387'