= render partial: "products/header"
- breadcrumb :logout
= render partial: "home-1"
%main.container-1
  .side 
    = render partial: "side"
  .contents
    %form.single-inner{action: "", method: "POST", novalidate: ""}
      .single-content
        = link_to destroy_user_session_path, method: :delete do
          %button.btn-default.btn-red{type: "submit"} ログアウト
          %input{name: "", type: "hidden", value: ""}/

= render partial: "banner"
= render partial: "footer"
= render partial: "products/exhibit-btn.html"