.sign-up-top__container-1
  %header.header
    =link_to '#' do
      = image_tag 'mercari-logo.png', height:'49',width:'185'
  %main.main-top
    %section.container
      %h2.registration 新規会員登録
      .registration-form
        .content
          = link_to info_signup_index_path , class:'icon' do
            = image_tag 'red-mail.png', height:'50',width:'343'
          = link_to '#',class:'icon' do
            = image_tag 'facebook.png', height:'50',width:'343'
          = link_to '#', class:'icon' do
            = image_tag 'google1.png', height:'50',width:'343'
  %footer.footer
    = image_tag 'footer-mercari.png', height: '150', width: '387'