.container-3
  .container-3__header
    .container-3__header__image
      = link_to root_path do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512", class:"logo-3"
  = form_with model: @product, local: true, html: {class: "sell__form"} do |f|
    .container-3__main
      %h2.container-3__main__info
        商品の情報を入力
      .container-3__main__image
        %h2.container-3__main__image__top
          出品画像
          %span.necessary
            必須
        %h2.container-3__main__image__middle
          最大5枚までアップロードできます
          = f.fields_for :image do |image|
            .dropzone-container
              .dropzone-preview
                #preview
                  - @product.images.each do |image|
                    .img_view
                      .img_view_upper
                        = image_tag "#{image.url}", class: "product-new-img"
                      .btn_wrapper
                        .btn_edit
                          編集
                        .btn_delete
                          削除
      .container-3__main__product
        .ontainer-3__main__product__name
          %h2.container-3__main__product__name__top
            商品名
            %span.necessary
              必須
          .container-3__main__product__name__bottom
            = f.text_field :name, placeholder: "商品名（必須40文字まで）", maxlength: "40", required: "required"
        .container-3__main__product__explain
          %h2.container-3__main__product__explain__top
            商品の説明
            %span.necessary
              必須
          .container-3__main__product__explain__bottom
            = f.text_area :description, maxlength:'1000', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", required: "required"
      .container-3__main__detail
        %h2.container-3__main__detail__box1
          商品の詳細
        .listing-form-box
          .listing-product-detail__category
            = f.label 'カテゴリー', class: 'listing-default__label'
            %span.listing-default--require 必須
            .listing-select-wrapper
              .select__box
                = f.select :category_id, options_for_select(@category_parents_array.map{|c|[c[:name], c[:name]]}, @selected_parent_category.name), {}, {class: 'select-default', id: 'parent_category'}
                %i.fa.fa-angle-down
            %div#children_wrapper
              .select__box
                = f.select :category_id, options_for_select(@category_children_array.map{|c|[c[:name], c[:id], {'data-category'=>c[:id]}]}, @selected_child_category.id), {}, {class: 'select-default', id: 'child_category'}
                %i.fa.fa-angle-down
            %div#grandchildren_wrapper
              .select__box
                = f.select :category_id, options_for_select(@category_grandchildren_array.map{|c|[c[:name], c[:id], {'data-category'=>c[:id]}]}, @selected_grandchild_category.id), {}, {class: 'select-default', id: 'grandchild_category'}
                %i.fa.fa-angle-down

          - if @product.size_type
            .form__group
              = f.label :size_type_id do
                サイズ
                %span.necessary 必須
              %div
                .select__box
                  %i.fa.fa-angle-down
                  = f.select :size_type_id, options_for_select(@size_types_array.map{|c|[c[:size_type], c[:id]]}, @selected_size_type.id), {}, {class: 'select-default'}
          - if @product.brand
            .form__group
              = f.label :brand do
                ブランド
                %span.form-arbitrary 任意
              %div
                %input.c-input-default{name: "product[brand]", type: "text", :placeholder => "例）シャネル", :value => "#{@product.brand}"}/
          - else 
            .form__group
              = f.label :brand do
                ブランド
                %span.form-arbitrary 任意
              %div
                %input.c-input-default{name: "product[brand]", type: "text", :placeholder => "例）シャネル", :value => ""}/
          %h2.container-3__main__detail__box2__top2
            商品の状態
            %span.necessary
              必須
          .select__box
            = f.select :status, Product.statuses.keys, {prompt: "---"}
            %i.fa.fa-angle-down
      .container-3__main__send
        %h2.container-3__main__send__box1
          配送について
          = link_to "?", "#", class: "question"
        .container-3__main__send__box2
          %h2.container-3__main__send__box2__top1
            配送料の負担
            %span.necessary
              必須
          .select__box
            = f.select :charge_burden, Product.charge_burdens.keys,{prompt: "---"}
            %i.fa.fa-angle-down
          %h2.container-3__main__send__box2__top2
            発送元の地域
            %span.necessary
              必須
          %div.select__box
            = f.select :prefecture, Product.prefectures.keys,{prompt: '---'}
            %i.fa.fa-angle-down
          %h2.container-3__main__send__box2__top3
            発送までの日数
            %span.necessary
              必須
          .select__box
            = f.select :send_days, Product.send_days.keys,{prompt: "---"}
            %i.fa.fa-angle-down
      .container-3__main__price
        %h2.container-3__main__price__box1
          販売価格(300~9,999,999)
          = link_to '?', "#", class: "question"
        .container-3__main__price__box2
          .container-3__main__price__box2__top1
            %h2.container-3__main__price__box2__top1__left
              価格
              %span.necessary
                必須
            %span.container-3__main__price__box2__top1__yen
              ¥
            .input__text3
              = f.text_field :price, min:300, max:9999999, placeholder: "例) 300", id: "product_price"
          .container-3__main__price__box2__top2
            %h2.container-3__main__price__box2__top2__left
              販売手数料(10%)
            .container-3__main__price__box2__top2__right
              = "¥" + "#{@fee}"
          .container-3__main__price__box2__top3
            %h2.container-3__main__price__box2__top3__left
              販売利益
            %h2.container-3__main__price__box2__top3__right
              = "¥" + "#{@profit}"
      .container-3__main__check
        .container-3__main__check__text
          %p
            = link_to "禁止されている出品", "*", class:"link-3"
            、
            = link_to "行為", "*", class:"link-3"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売","*", class:"link-3"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約", "*", class:"link-3"
            に同意したことになります。
        = f.submit '変更する', class: "button"
        =link_to 'もどる', root_path, class:"return"
      
  .container-3__footer
    .container-3__footer__box
      %nav
        %ul.container-3__footer__box__link
          %li
            =link_to 'プライバシーポリシー', '*', class:"container-3__footer__box__link__text"
          %li
            =link_to 'メルカリ利用規約', '*', class:"container-3__footer__box__link__text"
          %li
            =link_to '特定商取引に関する表記', '*', class:"container-3__footer__box__link__text"
      .container-3__footer__box_logo
        .container-3__footer__box__logo__image
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?4248847005", class:"footer-logo"
          .container-3__footer__box__logo__image__text
            © 2019 Mercari