= render partial: "header" 
.contents
  .contents__body
    .contents__top
    
    .category
      .category__list
        一覧表示
    .item__box
      .box__list
        .name__box
          .list__name 一覧表示
          = link_to '#' , class: 'mottomiru' do
            もっと見る
            %i.fas.fa-chevron-right
              
        .list__itirann
          %ul.itirann
            %li.itirann-imag
              %div.itirann-styl   
                = link_to '#' , class: 'image' do 
                  %figure.style_card
                    %figcaption.style-card__1
                      %span.style-card__text 
                    .style_thumbnail__N_xAi
                      %span.label{"aria-label" => "Price"} ¥2,000
                      = image_tag "face.png", class:"image"
       
            %li.itirann-imag
              %div.itirann-styl   
                = link_to '#' , class: 'image' do 
                  %figure.style_card
                    %figcaption.style-card__1
                      %span.style-card__text 
                    .style_thumbnail__N_xAi
                      %span.label{"aria-label" => "Price"} ¥2,000
                      = image_tag "face.png", class:"image"

= render partial: "exhibit-btn" 
= render partial: "users/banner"
= render partial: "users/footer"
      





      
    

