.container-3
  .container-3__header
    .container-3__header__image
      = link_to root_path do
        = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?273499512", class:"logo-3"
  .container-3__main
    = form_with do |f|
      %h2.container-3__main__info
        商品の情報を入力
      .container-3__main__image
        %h2.container-3__main__image__top
          出品画像
          %span.necessary
            必須
        %h2.container-3__main__image__middle
          最大10枚までアップロードできます
        .container-3__main__image__bottom
          .container-3__main__image__bottom__box
            %h2.container-3__main__image__bottom__box__top
              ドラッグアンドドロップ 
            %h2.container-3__main__image__bottom__box__bottom
              またはクリックしてファイルをアップロード
      .container-3__main__product
        .ontainer-3__main__product__name
          %h2.container-3__main__product__name__top
            商品名
            %span.necessary
              必須
          .container-3__main__product__name__bottom
            = f.text_field :name, placeholder: "商品名（必須40文字まで）", maxlength: "40", required: "required"
        .container-3__main__product__explain
          %h2.container-3__main__product__explain__top
            商品の説明
            %span.necessary
              必須
          .container-3__main__product__explain__bottom
            = f.text_area :text, maxlength:'1000', placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", required: "required"
      .container-3__main__detail
        %h2.container-3__main__detail__box1
          商品の詳細
        .container-3__main__detail__box2
          %h2.container-3__main__detail__box2__top1
            カテゴリー
            %span.necessary
              必須
          .select__box
            = f.select :**, "---"
            %i.fa.fa-angle-down
          %h2.container-3__main__detail__box2__top2
            商品の状態
            %span.necessary
              必須
          .select__box
            = f.select :**, "---"
            %i.fa.fa-angle-down
      .container-3__main__send
        %h2.container-3__main__send__box1
          配送について
          = link_to "?", "#", class: "question"
        .container-3__main__send__box2
          %h2.container-3__main__send__box2__top1
            配送料の負担
            %span.necessary
              必須
          .select__box
            = f.select :**, "---"
            %i.fa.fa-angle-down
          %h2.container-3__main__send__box2__top2
            発送元の地域
            %span.necessary
              必須
          .select__box
            = f.select :**, "---"
            %i.fa.fa-angle-down
          %h2.container-3__main__send__box2__top3
            発送までの日数
            %span.necessary
              必須
          .select__box
            = f.select :**, "---"
            %i.fa.fa-angle-down
      .container-3__main__price
        %h2.container-3__main__price__box1
          販売価格(300~9,999,999)
          = link_to '?', "#", class: "question"
        .container-3__main__price__box2
          .container-3__main__price__box2__top1
            %h2.container-3__main__price__box2__top1__left
              価格
              %span.necessary
                必須
            %span.container-3__main__price__box2__top1__yen
              ¥
            .input__text3
              = f.text_field :**, placeholder: "例) 300"
          %h2.container-3__main__price__box2__top2
            販売手数料(10%)
            %h2.container-3__main__price__box2__top2__dash
              
          %h2.container-3__main__price__box2__top3
            販売利益
            %h2.container-3__main__price__box2__top3__dash
              
      .container-3__main__check
        .container-3__main__check__text
          %p
            = link_to "禁止されている出品", "*", class:"link-3"
            、
            = link_to "行為", "*", class:"link-3"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            = link_to "偽ブランドの販売","*", class:"link-3"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            = link_to "加盟店規約", "*", class:"link-3"
            に同意したことになります。
        = f.submit "出品する", class: "button"
        =link_to 'もどる', "*", class:"return"
      
  .container-3__footer
    .container-3__footer__box
      %nav
        %ul.container-3__footer__box__link
          %li
            =link_to 'プライバシーポリシー', '*', class:"container-3__footer__box__link__text"
          %li
            =link_to 'メルカリ利用規約', '*', class:"container-3__footer__box__link__text"
          %li
            =link_to '特定商取引に関する表記', '*', class:"container-3__footer__box__link__text"
      .container-3__footer__box_logo
        .container-3__footer__box__logo__image
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?4248847005", class:"footer-logo"
          .container-3__footer__box__logo__image__text
            © 2019 Mercari