.sign-up-top__container-1
  %header.header
    = link_to '#' do
      = image_tag 'mercari-logo', height:'49',width:'185'
  %main.login
    .no-account
      %p アカウントをお持ちでない方はこちら
      = link_to '#', class:'new' do
        新規会員登録
    .login-inner
      = link_to '#',class:'icon' do
        = image_tag 'facebook', height:'50',width:'328'
      = link_to '#', class:'icon' do
        = image_tag 'google1', height:'50',width:'328'
    %form.input
    .login-form-inner
      .form-group
        %input.login-input-text.input-default{name: "email", placeholder: "メールアドレス", type: "email", value: ""}/
      .form-group
        %input.login-input-text.input-default{name: "password", placeholder: "パスワード", type: "password"}/ 
      .form-group.robott
        = image_tag 'robott', height:'81',width:'308'
      %button.login-submit.btn-default.btn-red{type: "submit"} ログイン
  %footer.footer
    = image_tag 'footer-mercari', height: '150', width: '387'